<div class="container mt-3">
   <div class="row">
      <div class="col text-center">
         <img src="img/foto.jpg" alt="Fadhil Nugraha Wikarya" class="img-thumbnail rounded-circle" width="200">
         <h1 class="display-4">Fadhil Nugraha Wikarya</h1>
         <p class="lead">Student College</p>
      </div>
   </div>
   <br>
   <br>
   <div class="row">
      <div class="col text-center">
         <h1>Social Media</h1>
      </div>
   </div>
   <div class="row">
      <div class="col-md-4 offset-md-4 text-center">
         <img src="img/foto.jpg" width="200" class="rounded-circle img-thumbnail">
         <div>
            <h5>@fadhilwikarya</h5>
            <p>260 followers</p>
         </div>
      </div>
   </div>
</div>
